<header class="site-header">
  <div class="container">
    <h1><%= link_to "Habit Tracker", root_path, class: "brand" %></h1>
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "New User", new_user_path %> |
      <%= link_to "New Database Activity", new_activity_path %> |
      <%= link_to "New Activity Event", new_activity_event_path %>
    </nav>
  </div>
</header>