<%= turbo_frame_tag "modal" do %>
	<div class="modal">
		<%= render @activity %>

		<table class="table_i">
			<tr class="tr_i">
				<td class="td_i">
		  			<%= link_to "Edit", edit_activity_path(@activity), class: "cancel-button" %>
		  			<%= button_to "Delete", @activity, method: :delete, class: "cancel-button", data: { turbo_frame: "_top" } %>
				</td>
			</tr>
			<tr class="tr_i">
				<td class="td_i">
		  			<%= link_to "Activities", activities_path, class: "cancel-button", data: { turbo_frame: "_top" } %>
					<%= link_to "Events", activity_events_path, class: "cancel-button", data: { turbo_frame: "_top" } %>
				</td>
			</tr>
		</table>
	</div>
<% end %>
