<div id="<%= dom_id activity_event %>">
  <p>
    <strong>Due date:</strong>
    <%= activity_event.due_date %>
  </p>

  <p>
    <strong>Is completed:</strong>
    <%= activity_event.is_completed %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= activity_event.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= activity_event.updated_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= activity_event.user_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= activity_event.activity_id %>
  </p>

</div>
