<p style="color: green"><%= notice %></p>

<% content_for :title, "Activity events" %>

<h1>Activity events</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>To Do</td>
	  <!-- Monday -->
      <td>
  		<% @activity_events_Mon_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Tuesday -->
      <td>
  		<% @activity_events_Tue_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Wednesday -->
      <td>
  		<% @activity_events_Wed_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Thursday -->
      <td>
  		<% @activity_events_Thr_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Friday -->
      <td>
  		<% @activity_events_Fri_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Saturday -->
      <td>
  		<% @activity_events_Sat_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Sunday -->
      <td>
  		<% @activity_events_Sun_TD.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %>></td>
  		<% end %>
	  </td>
    </tr>
    <tr>
      <td>In Progress</td>
    </tr>
    <tr>
      <td>Done</td>
	  <!-- Monday -->
      <td>
  		<% @activity_events_Mon_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Tuesday -->
      <td>
  		<% @activity_events_Tue_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Wednesday -->
      <td>
  		<% @activity_events_Wed_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Thursday -->
      <td>
  		<% @activity_events_Thr_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Friday -->
      <td>
  		<% @activity_events_Fri_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Saturday -->
      <td>
  		<% @activity_events_Sat_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
	  <!-- Sunday -->
      <td>
  		<% @activity_events_Sun_Dn.each do |activityEvent| %>
    		<td> <%= link_to  activityEvent.id, activityEvent %></td>
  		<% end %>
	  </td>
    </tr>

  </body>

  <tfoot>
  </tfoot>
</table>


<%= link_to "New activity event", new_activity_event_path %>
